.random-planet {
  display: flex;
  padding: 10px;
  margin-top: 20px;
}

.random-planet .planet-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-right: 10px;
}

.random-planet .list-group {
  margin: 10px 0 0 10px;
}

.random-planet .list-group-item {
  padding: 7px;
}

.random-planet .list-group-item .term {
  margin-right: 5px;
}