.loader {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 50%;
}

.loader::before {
  position: absolute;
  content: ' ';
  width: 10px;
  height: 10px;
  background: #ffffff;
  top: 0;
  left: 0;
  animation: arroundf 1.5s infinite;
}

.loader.before::before {}

.loader::after {
  position: absolute;
  content: ' ';
  width: 10px;
  height: 10px;
  background: #ffffff;
  right: 0;
  bottom: 0;
  animation: arrounds 1.5s infinite;
}

/* .loader.after::after {
  background: #ffd102;
} */

@keyframes arroundf{
  0%  { transform: translate(0, 0) rotate(0deg) scale(1);}
  25% { transform: translate(30px, 0) rotate(-180deg) scale(0.5);}
  50% { transform: translate(30px, 30px) rotate(0deg) scale(1);}
  75% { transform: translate(0, 30px) rotate(290deg) scale(0.5);}
  100%{ transform: translate(0, 0) rotate(0deg) scale(1);}
}


@keyframes arrounds{
  0%  { transform: translate(0, 0) rotate(0deg) scale(1);}
  25% { transform: translate(-30px, 0) rotate(180deg) scale(0.5);}
  50% { transform: translate(-30px, -30px) rotate(0deg) scale(1);}
  75% { transform: translate(0, -30px) rotate(-290deg) scale(0.5);}
  100%{ transform: translate(0, 0) rotate(0deg) scale(1);}
}