.header {
  margin-top: .5rem;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.header ul li {
  list-style: none;
  margin: 0;
  padding: 3px 10px;
  border-radius: 3px;
}

.header ul li:hover {
  background-color: #444;
}

.header a {
  text-decoration: none;
}

.header h3 a {
  color: white;
}

.header h3{
  margin-bottom: 0;
}

.header h3 a:hover {
  color: #00bc8c;
}